<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">

  <form class="form-inline">
   
    <%= link_to 'Show Employee',employees_path,:class => "btn  navbar-btn"%> ||
    <%= link_to 'Show Organization', organizations_path, :class => "btn  navbar-btn"%>

     </form>
 
</nav>

</br></br>


<h1>Organizations</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
    <th class="text-center">Organisation ID</th>
      <th class="text-center">Name</th>
      <th class="text-center">Phone</th>
      <th class="text-center">City</th>
      <th class="text-center" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr class="warning">
      <td><%= organization.id %></td>
        <td><%= organization.name %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.city %></td>
        <td><%= link_to 'Show', organization, :class => "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</br></br>

<%= will_paginate  @organizations,  {:style=>'font-size: 150%;'}%>
<br><br>

<%= link_to 'New Organization', new_organization_path, {:style=>'color:	#008000;text-decoration: underline;font-size: 150%;'}  %>
